@import url('https://fonts.googleapis.com/css?family=Bevan|Roboto&display=swap');
body {
  background-image:url(../img/mosaic.png);
}
.container {
  padding-top: 50px;
}
.title {
    font-family: 'Bevan', cursive;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1em;
}

.align-middle {
  padding-top: 0.25em;
  text-transform: uppercase;
}

.game-board {
    position: absolute;
    height: 600px;
    width: 600px;
}

.quadrant {
    border-style: solid;
    border-color:#eee;
    display: inline-block;
    height: 300px;
    width: 300px;
    float: left;
}

#green {
    border-radius: 100% 0 0 0;
    border-width: 4px 2px 2px 4px;
    background-color: #008000;
}
.green-active {
    background-color: #90ee90;
}
#red {
    border-radius: 0 100% 0 0;
    border-width: 4px 2px 2px 4px;
    background-color: #ff0000;
}
.red-active {
    background-color: #ff6347;
}
#yellow {
    border-radius: 0 0 0 100%;
    border-width: 4px 2px 2px 4px;
    background-color: #ffff00;
}
.yellow-active {
    background-color: #f8f7d9;
}
#blue {
    border-radius: 0 0 100% 0;
    border-width: 4px 2px 2px 4px;
    background-color: #0000ff;
}
.yellow-active {
  background-color: #87ceeb;
}

.inner-circle {
    height: 300px;
    width: 300px;
    background-color: #f5f5f5;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}

.top {
    text-align: center;
}
/*on/off switch https://www.youtube.com/watch?v=Atc0qPkDeKM&t=28s*/
input[type=checkbox]{
    height: 0;
    width: 0;
  }
  label {
    background: #dddddd;
    text-indent: -9999px;
    width: 80px;
    height: 40px;
    display: block;
    border-radius: 50px;
    position: relative;
    
    }
  label:after {
    content: '';
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 45px;
    transition: 0.3s;
  
    }
  input:checked + label {
        background: #6edc5f;
   
  }
  
  input:checked + label:after {
    left: calc(100% - 2.5px);
    transform: translateX(-100%);
   
  }
  /* end on/off switch*/
  #strict {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
   }
   #strict.selected {
     background-color: red;
   }

  #start {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;

  }
  #start.selected {
    background-color: #6edc5f;
  }
  .counter {
    margin-top: 0.5em;
    border: 2px solid #dddddd;
    background: #330000;
    color: red;
    font-family: courier;
    font-size: 30px;
    height: 40px;
    width: 80px;
    text-align: center;
  }

  @media (max-width:375px){
    h5{
      font-size: 0.7em;
      text-transform: uppercase;
    }

    .title {
      font-family: 'Bevan', cursive;
      text-transform: uppercase;
      text-align: center;
      margin-top: 1em;
      font-size: 1em;
  }
  
  .game-board {
      position: absolute;
      height: 300px;
      width: 300px;
    }
  
  .quadrant {
      border-style: solid;
      border-color:#eee;
      display: inline-block;
      height: 150px;
      width: 150px;
      float: left;
  }
  
  .inner-circle {
      height: 150px;
      width: 150px;
      background-color: #f5f5f5;
      border-radius: 50%;
      position: absolute;
      top: 25%;
      left: 25%;
  }
  
  .top {
      text-align: center;
  }
  /*on/off switch https://www.youtube.com/watch?v=Atc0qPkDeKM&t=28s*/
  input.[type=checkbox]{
      height: 0;
      width: 0;
      visibility: hidden;
    }
    label {
      background: #dddddd;
      text-indent: -9999px;
      width: 40px;
      height: 20px;
      display: block;
      border-radius: 25px;
      position: relative;
      
      }
    label:after {
      content: '';
      position: absolute;
      top: 1.25px;
      left: 1.25px;
      width: 17.5px;
      height: 17.5px;
      background: #fff;
      border-radius: 22.5px;
      transition: 0.3s;
    
      }
    /* end on/off switch*/
    #strict {
      width: 20px;
      height: 20px;
    
    }
    #start {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: lightgreen;
  
    }
    .counter {
      margin-top: 0.25em;
      border: 2px solid #dddddd;
      background: #330000;
      color: red;
      font-family: courier;
      font-size: 0.7em;
      height: 20px;
      width: 40px;
      text-align: center;
    }
  }

  
